
.login {
    margin: 20px auto;
    width: 50%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background: 	linear-gradient(to right, #56e24c, #00ff00);
    background: radial-gradient(circle, #e425d1, #34c6e3);
  }
  .logimg{
    border-radius: 1000px;
    height: 100px;
    width: 100px;
    text-align: center;
}
  
  .login h1 {
    text-align: center;
  }
  
  .login form {
    text-align: center;
  }
  
  .logincss {
    width: 100%;
  }
  
  .logincss td {
    padding: 10px;
  }
  
  .logincss label {
    font-weight: bold;
  }
  
  .logincss input[type='text'],
  .logincss select {
    width: calc(100% - 20px); /* Adjusted for padding */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .logincss input[type='Password'],
  .logincss select {
    width: calc(100% - 20px); /* Adjusted for padding */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .logincss button {
    background-color: #af4c4c;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .logincss button:hover {
    background-color: #d5f600;
  }
  